<h1><%= @event.title %></h1>
<p>Event: <%= @event.title %></p>
<p>Date: <%= @event.date %></p>
<p>Address: <%= @event.address %></p>
<p>City: <%= @event.description %></p>
<p>Description: <%= event.description %></p>


<h2>From Events</h2>

<%= button_to 'Edit', edit_event_path(@event), method: 'get' %>
<%= button_to 'Delete', event_path(@event), method: 'delete' %>
