	  <%= render partial: "/customers/partials/nav.html.haml" %> 
  <p><h3>Lost Tribes Customers</h3></p>
  <br>

	<table>
	<% @customers.each do |customer| %> 
	<tr>
		<td> <%= link_to customer.name, customer %> </td>
		<td> <%= customer.email %> </td>
		<td> <%= customer.zip %> </td>
		<td> <%= customer.comment %> </td>
		
	<% end %>
	</tr>
	</table>
	  Download:
  <%= link_to "CSV", customers_path(format: "csv") %> |
  <%= link_to "Excel", customers_path(format: "xls") %>







