  <%= render partial: "/vendors/partials/nav.html.haml" %> 
  <p><h3>Lost Tribes Vendors</h3></p>
  <br>
<table>
	<% @vendors.each do |vendor| %> 
	<tr>
			<td> <%= link_to vendor.name, vendor %> </td>
			<td> <%= vendor.phone %> </td>
			<td> 
				<a href="mailto:<%= vendor.email %>">
					<i class="general foundicon-mail"></i>
				</a> 
			</td>
			<td> <%= vendor.comment %> </td>
	<% end %>
	</tr>
</table>
	  Download:
  <%= link_to "CSV", vendors_path(format: "csv") %> |
  <%= link_to "Excel", vendors_path(format: "xls") %>