<h1><%= @vendor.name %></h1>
<p>Name: <%= @vendor.name %></p>
<p>Email: <%= @vendor.email %></p>
<p>Phone: <%= @vendor.phone %></p>
<p>Address: <%= @vendor.address %></p>
<p>Comment: <%= @vendor.comment %></p>


<h2>From Vendors</h2>

<%= button_to 'Edit', edit_vendor_path(@vendor), method: 'get' %>
<%= button_to 'Delete', vendor_path(@vendor), method: 'delete' %>