<h1><%= @vendor.name %></h1>
<table>
<tr>
	<th>Name: </th>
	<th>Email:</th>
	<th>Phone:</th>
	<th>Address:</th>
	<th>Comment: </th>
	<th colspan="2"> Update Customer </th>
	
<tr>
<th><%= @vendor.name %></th>
<th> <%= @vendor.email %></th>
<th> <%= @vendor.phone %></th>
<th> <%= @vendor.address %></th>
<th><%= @vendor.comment %></th>
<th><%= button_to 'Edit', edit_vendor_path(@vendor), method: 'get' %></th>
<th><%= button_to 'Delete', vendor_path(@vendor), method: 'delete' %></th>
</tr>
<table>


